In [1]:
x=0
for i in range(0,101):
    x+=i
print(x)
print(i)

5050
100

In [2]:
aaa=range(1,101)
x=0
for i in range(len(aaa)):
    x+=aaa[i]
print(x)
print(i)

5050
99

In [6]:
aaa=range(1,101)
x=0
i=0
while i<len(aaa):
    x+=aaa[i]
    i+=1
print(x)
print(i)

5050
100

In [11]:
ages = [19, 21, 20, 19, 21, 17, 30, 36, 90]
for age in ages:
    if age>30:
        break
    else:
        print(age)

19
21
20
19
21
17
30

In [16]:
aaa=range(1,101)
for i in aaa:
    if i%7!=0:
        print(i)
    else:
        continue

1
2
3
4
5
6
8
9
10
11
12
13
15
16
17
18
19
20
22
23
24
25
26
27
29
30
31
32
33
34
36
37
38
39
40
41
43
44
45
46
47
48
50
51
52
53
54
55
57
58
59
60
61
62
64
65
66
67
68
69
71
72
73
74
75
76
78
79
80
81
82
83
85
86
87
88
89
90
92
93
94
95
96
97
99
100

In [11]:
ages = [19, 21, 20, 19, 21, 17, 30, 36, 90]
for age in ages:
    if age>30:
        continue
    
    elif age<20:
        continue
    
    else:
        print(age)

21
20
21
30

In [12]:
import math

def circle_calculate (radius,area=True):
    circle_area=math.pi*radius**2
    circle_circum=2*math.pi*radius
    return circle_area,circle_circum
my_radius=3
print(circle_calculate(my_radius))

(28.274333882308138, 18.84955592153876)
(28.274333882308138, 18.84955592153876)

In [11]:
def my_mean(input_list):
    def my_sum(input_list):
        temp_sum=0
        for i in input_list:
            temp_sum+=i
        return temp_sum
    def my_length(input_list):
        temp_length=0
        for i in input_list:
            temp_length+=1
        return temp_length
    return my_sum(input_list)/my_length(input_list)

a=range(1,11)
print(my_mean(a))

5.5

In [13]:
import math # 要使用 pi 得引入套件 math

# 定義自訂函數
def circle_calculate(radius):
    '依據輸入的半徑同時計算並回傳圓形的面積或周長' # 單行的 docstring
    try:
        circle_area = math.pi * radius**2
        circle_circum = 2 * math.pi * radius
        return circle_area, circle_circum
    except:
        print("請輸入數值。")

# 呼叫自訂函數
my_radius = "3"
circle_calculate(my_radius)

請輸入數值。

In [26]:
import pandas as pd

name = ["蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", "賓什莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", "佛朗基", "布魯克"]
occupation = ["船長", "劍士", "航海士", "狙擊手", "廚師", "醫生", "考古學家", "船匠", "音樂家"]

straw_hat_dict={"name":name, 
                "occupation":occupation
}

straw_hat_df=pd.DataFrame(straw_hat_dict)

straw_hat_df

       name occupation
0   蒙其·D·魯夫         船長
1    羅羅亞·索隆         劍士
2        娜美        航海士
3       騙人布        狙擊手
4  賓什莫克·香吉士         廚師
5   多尼多尼·喬巴         醫生
6     妮可·羅賓       考古學家
7       佛朗基         船匠
8       布魯克        音樂家

In [23]:
import pandas as pd

name = ["蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", "賓什莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", "佛朗基", "布魯克"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]

# 建立 dict
straw_hat_dict = {"name": name,
                  "age": age
}

# 建立 data frame
straw_hat_df = pd.DataFrame(straw_hat_dict)
print(straw_hat_df.dtypes) # straw_hat_df 有 dtypes 屬性
print(straw_hat_df.head()) # straw_hat_df 有 head 方法

age      int64
name    object
dtype: object
   age      name
0   19   蒙其·D·魯夫
1   21    羅羅亞·索隆
2   20        娜美
3   19       騙人布
4   21  賓什莫克·香吉士

In [30]:
class Strawhat:
    '''
    這是一個叫做 Strawhat 的類別
    '''
    def __init__(self,name,age):
        self.name=name
        self.age=age

luffy = Strawhat("蒙其·D·魯夫", 19)
zoro = Strawhat("羅羅亞·索隆", 21)

print(luffy.name)
print(luffy.__doc__)
print(zoro.age)
print(zoro.__doc__)

蒙其·D·魯夫

    這是一個叫做 Strawhat 的類別

21

    這是一個叫做 Strawhat 的類別